@import 'bourbon';
@import 'sass/vars';
@import 'sass/base';

//First screen styles
header{
    font-family:"MontserratRegular" sans-serif;
    min-height: 750px;
    background: url(img/header-bg.jpg) no-repeat ;
}
.header__logo-title{
    font-family: "MontserratRegular" sans-serif;
    font-size: em(16px);
}
.header__logo-decor{
    font-weight: bold
}
.header-top{
    line-height: em(70px);
    margin-bottom: 210px;
}
.menu{
    text-align: right;
}
.header__item{
    display: inline-block;
}
.header__link{
    display: block;
    padding: 0 10px;
    font-family:"MontserratRegular" sans-serif;
    font-size: em(16px);
    text-transform: uppercase;
    color:#26272d;
    
    &:hover{
        text-decoration: none;
    }
}
.header__content{
    text-align: center;
    margin: 0 160px;
}
.header__content-title{
    font-size: em(60px);
    line-height: 72px;
    font-weight: bold;
}
.header__content-desc{
    font-size: em(20px);
    padding: 0 110px;
    margin-bottom: 30px;
}
.header__content-link{
    color: #26272d;
    border:1px solid #26272d;
    padding: 13px 55px;
    border-radius: 25px;
    
    &:hover{
        color: #26272d;
    }
}