@import 'bourbon';
@import 'vars';

footer{
    font-family: "MontserratRegular" sans-serif;
    font-size: em(16px);
    background: #f5f5f8;
    padding-top: 80px;
}

.footer__title{
    font-weight: normal;
    font-size: 16px;
}
.footer__logo-decor{
    font-weight: bold
}
.footer__desc{
    color: #8c8f94;
    font-size: 14px;
    line-height: 24px;
}
.keep__ltem{
    background: url("../img/icon-keep.png") no-repeat;
    padding-left: 33px;
}
.keep__title{
    font-size: 19px;
    line-height: 22px;
    color: #26272d;
}
.letter{
    background-position: 3px 5px;
}
.tell{
    background-position: 3px -134px;
}
.Fax{
    background-position: 3px -252px;
}
.point{
    background-position: 3px -361px;
}

.featured__title{
    font-size: 19px;
    line-height: 22px;
    color: #26272d;
}
.featured__link{
    display: block;
    margin-top:16px 0px;
}